<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-info">
    <ion-avatar> <!-- (click)="fileInput.click()" -->
      <img src="assets/icon/avatar.png"> <!-- *ngIf="!selectedImg" -->
      <!-- <img [src]="selectedImg" *ngIf="selectedImg"> -->
    </ion-avatar>
    <!-- <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none;"> -->


    <div class="name-container">
      {{ userData?.nombreUsuario }} {{ userData?.apellidoUsuario }}
    </div>
  </div>

  <ion-item>
    <ion-label>Documento</ion-label>
    <ion-text>{{ userData?.documentoUsuario }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Tipo documento</ion-label>
    <ion-text>{{ getTipoDocumento(userData?.idTipoDocumento) }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-text>{{ userData?.correoUsuario }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Telefono</ion-label>
    <ion-text>{{ userData?.telefonoUsuario }}</ion-text>
  </ion-item>
  <br>
  <ion-button color="primary" (click)="openEditProfile()">Editar Perfil</ion-button><br><br>
  <ion-button expand="block" color="danger" (click)="logout()">Cerrar sesión</ion-button>
</ion-content>