<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" (click)="reportNovedad()">
      <ion-icon name="alert"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button mode="ios" *ngIf="entregaButton" expand="block" class="open-entrega-button"
    (click)="deliverPaquete()">Entregar
    <ion-icon name="pin-sharp" slot="end"></ion-icon>
  </ion-button>
  <div id="indicators"></div>
  <ion-button mode="ios" expand="block" class="open-maps-button" (click)="openGoogleMaps()">Ir a Google Maps
    <ion-icon name="location-sharp" slot="end"></ion-icon>
  </ion-button>
</ion-content>