.tittle {
    margin-bottom: 30px;
}

.tittle h4 {
    color: var(--ion-color-primary);
}

.tittle p {
    margin-top: 0 !important;
    color: #999999;
    font-size: small;
}

.forget a {
    font-size: small !important;
}

p {
    font-size: small;
    color: #999999;
}

.red-button {
    --color: #ffffff;
    --background: #ff0000;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  