<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="scanQR()" *ngIf="content_visibility">
    Escanear Paquete
  </ion-button>

  <ion-list *ngIf="scannedResults && scannedResults.length > 0">
    <ion-list-header>
      Paquetes escaneados: {{ scannedResults.length }}
    </ion-list-header>
    <ion-item *ngFor="let code of codigoPaquetes; let i = index">
      # {{ i + 1 }}: {{ code }}
    </ion-item>
    <ion-item>
      <ion-button color="primary" (click)="scanQR()">
        Escanear otro paquete
      </ion-button>
    </ion-item>
  </ion-list>

  <div class="scanner-area" *ngIf="!content_visibility"></div>

</ion-content>


<ion-button color="danger" expand="full" (click)="stopScan()" *ngIf="!content_visibility">
  Cancelar
</ion-button>